


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    {% block body %}
    {% if error_msg %}<h1 class=error style="text-align: right"> {{ error_msg }}</h1>{% endif %}
        <h2>Create User:</h2>
        <form action="{{ url_for('add_user')}}" method="post">
            {{ form.csrf_token }}
            <dl>
                <dt>*Name:</dt>
                <dd>
                    {{form.name}}
                    <br>
                    {% for error in form.errors.name %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>*E-mail:</dt>
                <dd>
                    {{form.email}}
                    <br>
                    {% for error in form.errors.email %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>Phone:</dt>
                <dd>
                    {{form.phone}}
                    <br>
                    {% for error in form.errors.phone %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>Mobile phone:</dt>
                <dd>
                    {{form.mobile}}
                    <br>
                    {% for error in form.errors.mobile %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>*Status:</dt>
                <dd>{{form.status}}</dd>
                <dt></dt>
                <dd><br><input type=submit value="Create">
            </dl>
        </form>
    {% endblock %}
</body>
</html>