<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Title</title>
</head>
<body>
    <a href="/users">Users</a>
    {% block body %}
        {% if error_msg %}
            <h1 class=error style="color: red; text-align: left"> {{ error_msg }}</h1>
        {% endif %}
        {% if confirm_msg %}
            <h1 class=error style="text-align: right"> {{ confirm_msg }}</h1>
        {% endif %}
        <h2>Change User:</h2>
        <form action="{{ url_for('change_user', id=user.id)}}" method="post">
            {{ form.csrf_token }}
            <dl>
                <dt>*Name:</dt>
                <dd>
                    {{ form.name(readonly="readonly", value=user.name,
                    style="background-color: #000000; color: white; font-weight: bold;") }}
                </dd>
                <dt>*E-mail:</dt>
                <dd>
                    {{ form.email(value=user.email)}}
                    <br>
                    {% for error in form.errors.email %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>Phone:</dt>
                <dd>
                    {{ form.phone(value=user.phone)}}
                    <br>
                    {% for error in form.errors.phone %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>Mobile phone:</dt>
                <dd>
                    {{ form.mobile(value=user.mobile)}}
                    <br>
                    {% for error in form.errors.mobile %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </dd>
                <dt>*Status:</dt>
                <dd>
                    {{form.status(value=user.status)}}
                </dd>
                <!--<dt>Courses:</dt>-->
                <!--<dd>-->
                    <!---->
                <!--</dd>-->
                <dt></dt>
                <dd><br><input type=submit value="Save">
            </dl>
        </form>
        <hr>

        <h2>Courses:</h2>

        <script>
            function del_course(course_id, user_id) {
                $.ajax({
                    url: '/delete_user_course',
                    data: {course_id: course_id, user_id: user_id},
                    type: 'POST',
                    success: function(response) {
                        <!--console.log(response);-->
                        $("body").html(response)
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        </script>

        <table style="width:100%" id="table">
            {% for course in user_courses %}
            <tr id="tr{{course.id}}">
                <td>{{course.name}}</td>
                <td>
                     <span style="float:right;">
                         <input id="{{course.id}}" type="button" value="Delete"
                               onclick="del_course('{{course.id}}', '{{user.id}}');"/>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% endblock %}
    </body>
</html>