<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1 style="text-align: center">USERS</h1>
    <br>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
            <td> + V </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>